.button {
    width: 24px;
    height: auto;
}

.button:hover {
    cursor: pointer;
}

.button:hover path {
    fill: white;
    stroke: rgb(22, 50, 79);
    stroke-width: 1px;
}

path {
    fill: rgb(22, 50, 79);
    
}

.button-container {
    display: flex;
    border: none;
    margin: 12px;
}

path {
    pointer-events: none;
}