.button {
    width: 24px;
    height: auto;
}

.button:hover {
    cursor: pointer;
}

.button:hover path {
    fill: white;
}

.button-container {
    display: flex;
    border: none;
    margin: 12px;
}

path {
    pointer-events: none;
}