.section {
    margin: 12px;
    background-color: rgb(195, 195, 195);
}

.input {
    margin: 12px;
    padding: 5px 5px 5px 10px;

    background-color: rgb(242, 242, 242);

    border-radius: 10px;
    border-style: none;
}

input:focus, textarea:focus {
    border: none;
    outline: none;
}